body{
    background-color: blanchedalmond;
    }
   
    img {
        display: block;
        border-radius: 60%;
        margin-right: auto;
      }
      .box{
        padding: 60px 0px;
      }
      h1{
        text-align: center;
      }
      .box-part{
        background-color: aliceblue;
        padding: 40px 5px;
        margin:30px 0px;
      }
      .head{
        background-color: aquamarine;
      }
    